.swiper-button-next,
.swiper-button-prev {
  background-color: var(--color-background-0);
  border-radius: 100px;
  border: var(--color-gold) 3px solid;
  height: 40px;
  width: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: var(--color-gold);
  font-family: swiper-icons; /* stylelint-disable-line */
  font-size: 25px;
  font-variant: initial;
  letter-spacing: 0;
  line-height: 1;
  text-transform: none !important;
}
