:root {
  font-family: Arial, sans-serif;

  --color-0: #828295;
  --color-0-rgb: 130, 130, 149;
  --color-1: #2c3e50;
  --color-1-rgb: 44, 62, 80;
  --color-2: #2a313d;
  --color-2-rgb: 42, 49, 61;
  --color-3: #212a39;
  --color-3-rgb: 33, 42, 57;
  --color-4: #42435c;
  --color-4-rgb: 66, 67, 92;
  --color-text-disabled: #94989e;
  --color-text-disabled-rgb: 148, 152, 158;

  --color-background-0: #0f131a;
  --color-background-0-rgb: 15, 19, 26;
  --color-background-1: #181e2a;
  --color-background-1-rgb: 24, 30, 42;
  --color-background-2: #1d2431;
  --color-background-2-rgb: 29, 36, 49;

  --color-primary: #0067ee;
  --color-primary-rgb: 0, 103, 238;
  --color-gold: #ffc53e;
  --color-gold-rgb: 255, 197, 62;
  --color-primary-2: #ffffff;
  --color-primary-2-rgb: 255, 255, 255;

  --color-execellent: var(--color-gold);
  --color-execellent-rgb: var(--color-gold-rgb);
  --color-good: #00adff;
  --color-good-rgb: 0, 173, 255;
  --color-good-lite: #77d3ff;
  --color-good-lite-rgb: 0, 173, 255;
  --color-bad-lite: #ff9ea0;
  --color-bad-lite-rgb: 255, 158, 160;
  --color-bad: #ff5153;
  --color-bad-rgb: 255, 81, 83;
  --color-median: var(--color-primary-2);
  --color-median-rgb: var(--color-primary-2-rgb);

  --color-Targon: #4d38b0;
  --color-Targon-rgb: 77, 56, 176;
  --color-Noxus: #962d27;
  --color-Noxus-rgb: 150, 45, 39;
  --color-Demacia: #b9ac98;
  --color-Demacia-rgb: 185, 172, 152;
  --color-Freljord: #4a7dc3;
  --color-Freljord-rgb: 74, 125, 195;
  --color-ShadowIsles: #2a725d;
  --color-ShadowIsles-rgb: 42, 114, 93;
  --color-Ionia: #c45987;
  --color-Ionia-rgb: 196, 89, 135;
  --color-Shurima: #c4ae3d;
  --color-Shurima-rgb: 196, 174, 61;
  --color-Bilgewater: #b05925;
  --color-Bilgewater-rgb: 176, 89, 37;
  --color-PiltoverZaun: #fd9061;
  --color-PiltoverZaun-rgb: 253, 144, 97;
  --color-BandleCity: #98a711;
  --color-BandleCity-rgb: 152, 167, 17;
  --color-Runeterra: #fff;
  --color-Runeterra-rgb: 255, 255, 255;

  --box-border-radius: 20px;
  --border-radius-s: 10px;
  --border-radius-m: 15px;
  --border-radius-l: 20px;

  --input-height: 45px;

  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m: 16px;
  --font-size-l: 20px;

  --font-size-heading: 45px;
  --font-size-heading-secondary: 30px;

  --font-weight-light: 100;
  --font-weight-normal: 500;
  --font-weight-bold: 700;
  --font-weight-heavy: 900;

  --transition-1: cubic-bezier(0.75, -0.5, 0.25, 1.5);
  --transition-2: cubic-bezier(0, 0, 0.7, 1.7);
  --transition-3: cubic-bezier(0, 0, 0.2, 1);

  --spacing-1: 5px;
  --spacing-2: 10px;
  --spacing-3: 15px;

  --card-item-aspect-ratio-w: 643;
  --card-item-aspect-ratio-h: 969;
  --card-item-aspect-ratio: var(--card-item-aspect-ratio-w) /
    var(--card-item-aspect-ratio-h);

  /* Vue Multiselect */
  --ms-font-size: 1rem;
  --ms-line-height: 1.375;
  --ms-bg: var(--color-2);
  --ms-bg-disabled: #f3f4f6;
  --ms-border-color: #d1d5db;
  --ms-border-width: 0px;
  --ms-radius: 25px;
  --ms-py: 0.5rem;
  --ms-px: 0.875rem;
  --ms-ring-width: 0px;
  --ms-ring-color: var(--color-primary);
  --ms-placeholder-color: var(--color-0);
  --ms-max-height: 180px;

  /* --ms-spinner-color: #10B981; */
  --ms-caret-color: var(--color-0);
  --ms-clear-color: var(--color-0);
  --ms-clear-color-hover: var(--color-primary-2);

  --ms-tag-font-size: var(--font-size-m);
  --ms-tag-line-height: var(--font-size-m);
  --ms-tag-font-weight: var(--font-weight-normal);
  --ms-tag-bg: var(--color-0);
  --ms-tag-bg-disabled: var(--color-bad);
  /* --ms-tag-color: #FFFFFF;
  --ms-tag-color-disabled: #FFFFFF; */
  --ms-tag-radius: 20px;
  /* --ms-tag-py: 0.125rem;
  --ms-tag-px: 0.5rem;
  --ms-tag-my: 0.25rem;
  --ms-tag-mx: 0.25rem; */

  /* --ms-tag-remove-radius: 4px;
  --ms-tag-remove-py: 0.25rem;
  --ms-tag-remove-px: 0.25rem;
  --ms-tag-remove-my: 0rem;
  --ms-tag-remove-mx: 0.125rem; */

  --ms-dropdown-bg: var(--color-2);
  --ms-dropdown-border-color: var(--color-primary);
  --ms-dropdown-border-width: 0px;
  --ms-dropdown-radius: 22.5px;

  /* --ms-group-label-py: 0.3rem;
  --ms-group-label-px: 0.75rem;
  --ms-group-label-line-height: 1.375;
  --ms-group-label-bg: #E5E7EB;
  --ms-group-label-color: #374151; */
  --ms-group-label-bg-pointed: var(--color-1);
  --ms-group-label-color-pointed: var(--color-primary-2);
  /* --ms-group-label-bg-disabled: #F3F4F6;
  --ms-group-label-color-disabled: #D1D5DB;
  --ms-group-label-bg-selected: #059669;
  --ms-group-label-color-selected: #FFFFFF;
  --ms-group-label-bg-selected-pointed: #0c9e70;
  --ms-group-label-color-selected-pointed: #FFFFFF;
  --ms-group-label-bg-selected-disabled: #75cfb1;
  --ms-group-label-color-selected-disabled: #D1FAE5; */

  /* --ms-option-font-size: 1rem;
  --ms-option-line-height: 1.375; */
  --ms-option-bg-pointed: var(--color-0);
  --ms-option-color-pointed: var(--color-primary-2);
  /* --ms-option-bg-selected: #10B981;
  --ms-option-color-selected: #FFFFFF;
  --ms-option-bg-disabled: #FFFFFF;
  --ms-option-color-disabled: #D1D5DB;
  --ms-option-bg-selected-pointed: #26C08E;
  --ms-option-color-selected-pointed: #FFFFFF;
  --ms-option-bg-selected-disabled: #FFFFFF;
  --ms-option-color-selected-disabled: #D1FAE5;
  --ms-option-py: 0.5rem;
  --ms-option-px: 0.75rem; */

  /* --ms-empty-color: #4B5563; */
}

#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-1);
  margin-top: 60px;
}

.disabled {
  opacity: 25%;
}

.clickable {
  cursor: pointer;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.table-wrapper {
  background-color: var(--color-background-1);
  border-radius: 25px;
  padding: 15px;
}

.table {
  display: grid;
  grid-template-rows: 40px;
  height: 100%;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
}

.heading-cell {
  --index: 1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading-background-outer {
  grid-column: 1 / -1;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1;
}

.heading-background-inner {
  background-color: var(--color-3);
  border-radius: 25px;
  height: 100%;
}

.heading-background-absolute {
  background-color: var(--background-color);
  bottom: -10px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.column-content {
  align-items: center;
  color: var(--color-primary-2);
  display: flex;
  filter: drop-shadow(0px 0px 2px black);
  font-weight: 600;
  grid-row: var(--index);
  justify-content: center;
  min-width: 150px;
}

.table .column-content:nth-child(1) {
  grid-column: 1;
}
.table .column-content:nth-child(2) {
  grid-column: 2;
}
.table .column-content:nth-child(3) {
  grid-column: 3;
}
.table .column-content:nth-child(4) {
  grid-column: 4;
}
.table .column-content:nth-child(5) {
  grid-column: 5;
}
.table .column-content:nth-child(6) {
  grid-column: 6;
}
.table .column-content:nth-child(7) {
  grid-column: 7;
}
.table .column-content:nth-child(8) {
  grid-column: 8;
}
.table .column-content:nth-child(9) {
  grid-column: 9;
}
.table .column-content:nth-child(10) {
  grid-column: 10;
}
.table .column-content:nth-child(11) {
  grid-column: 11;
}
.table .column-content:nth-child(12) {
  grid-column: 12;
}
.table .column-content:nth-child(13) {
  grid-column: 13;
}
.table .column-content:nth-child(14) {
  grid-column: 14;
}
.table .column-content:nth-child(15) {
  grid-column: 15;
}

.table .wrapper {
  display: contents;
}

.table-card-row-background-wrapper {
  grid-row: var(--index);
  grid-column: 1 / -1;
  position: relative;
}

.table-card-row-background {
  background-color: var(--color-background-2);
  border: var(--color-3) solid 2px;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  position: absolute;
  inset: 0;
  transition: border-color 0.2s;
}

.background-card-wrapper {
  flex-grow: 1;
}

.background-card {
  --overlap-margin: 100px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center 25%;
  opacity: 40%;
  height: 100%;
  margin-left: calc(-1 * var(--overlap-margin));
  margin-right: calc(-1 * var(--overlap-margin));

  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black calc(0% + (2 * var(--overlap-margin))),
    black calc(100% - (2 * var(--overlap-margin))),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black calc(0% + (2 * var(--overlap-margin))),
    black calc(100% - (2 * var(--overlap-margin))),
    transparent 100%
  );
}

.background-card-wrapper:first-child > .background-card {
  -webkit-mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(100% - (2 * var(--overlap-margin))),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    black 0%,
    black calc(100% - (2 * var(--overlap-margin))),
    transparent 100%
  );
  margin-left: 0;
}

.background-card-wrapper:last-child > .background-card {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black calc(0% + (2 * var(--overlap-margin))),
    black 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black calc(0% + (2 * var(--overlap-margin))),
    black 100%
  );
  margin-right: 0;
}

.background-card-wrapper:first-child:last-child > .background-card {
  mask-image: unset;
  -webkit-mask-image: unset;
}

.tippy-box:first-child {
  background-color: var(--color-background-1);
  border-radius: var(--border-radius-s);
  border: 2px var(--color-2) solid;
  color: var(--color-primary-2);
  overflow: hidden;
  padding: 10px;
}

.tippy-box:first-child::before {
  background: var(--tippy-background);
  background-position-x: center;
  background-size: cover;
  content: '';
  inset: 0;
  opacity: 30%;
  position: absolute;
}

.tippy-box:first-child > .tippy-content {
  padding: 0;
}

.tippy-box[role='card-image'] {
  background: none;
  border: none;
}

.tippy-box[role='card-image'] > .tippy-arrow,
.tippy-box[role='card-info'] > .tippy-arrow {
  display: none;
}

.tippy-box > .tippy-arrow {
  color: var(--color-2);
}

.tippy-content {
  text-align: center;
  white-space: pre-line;
}

.multiselect-tags-search {
  background-color: var(--color-2);
  color: var(--color-primary-2);
}

.label-icon {
  height: 25px;
  max-width: 25px;
  filter: drop-shadow(0px 0px 2px black);
}

.multiselect-option > .label-icon {
  margin-right: 10px;
}

.deck-highlight-wrapper {
  min-width: 250px;
}

.circle-button {
  align-items: center;
  background-color: var(--color-3);
  border-radius: 25px;
  border: none;
  color: var(--color-primary-2);
  cursor: pointer;
  display: flex;
  height: 45px;
  justify-content: center;
  position: relative;
  width: 45px;
}

.circle-button > svg {
  height: 20px;
  width: 20px;
}

.multiselect {
  color: var(--color-primary-2);
}

.primary-button {
  align-items: center;
  background-color: var(--color-primary);
  border-radius: 30px;
  border: none;
  color: var(--color-primary-2);
  cursor: pointer;
  display: flex;
  font-weight: var(--font-weight-bold);
  gap: 5px;
  height: 45px;
  justify-content: start;
  padding: 0 15px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxes-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
