.navigation-template {
  display: grid;
  height: 90vh;
  grid-template:
    50px 1fr 50px 1fr 'navigationSide navigationTop'
    'navigationSide .';
}

@media (width <= 769px) {
  .navigation-template {
    grid-template-areas:
      'navigationTop navigationTop'
      '. .';
  }

  .navigation-template > .navigation-side {
    display: none !important;
  }
}
